* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Fira Sans", sans-serif;
  }
  
  .horizontal-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .horizontal-scrollbar::-webkit-scrollbar-thumb {
    background: #000000;
  }
  .horizontal-scrollbar::-webkit-scrollbar {
    height: 5px;
  }